body {
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  
}
.oswald {
  font-family: "Oswald", sans-serif;
  font-size: 50px;
  font-weight: 700;
  font-style: normal;
  
}

.title {
 text-align: center;
 color: aqua;
}

.box {
  text-align: center;
  padding: 20px 0;
  margin: 20px 0;
}

.box button {
  color: white;
  background-color: blueviolet;
  margin: 10px;
  border-radius: 15px;
  width: 70px;
  height: 40px;
}

.box input {
  width: 250px;
  height: 35px;
  border-radius: 15px;
  background-color: #78e4b7;
  color: black;
  font-size: medium;
  font-family:Arial, Helvetica, sans-serif;
  text-align: center;


}